/*For Dashboard Page Only*/

.course_list .course_title h2.title {
	line-height: 22px;
}
#block-region-content .course_list .box.coursebox {
	margin-bottom: 15px !important;
	padding: 8px 0 10px !important;
}
fieldset.invisiblefieldset {
	margin-top: 6px;
}
#page-my-index div[role="main"] {
	padding: 20px 0 0;
}
div[role="main"] h2:first-of-type, .backup-restore .backup-section > h2.header, .backup-restore .backup-section .backup-sub-section h3 {
	font-size: 2em;
}
#page-navbar_nav .breadcrumb-button div.singlebutton {
	margin-bottom: 3px;
	margin-top: 3px;
}
.coursebox {
	background: #fafafa none repeat scroll 0 0 !important;
	border: 1px solid #e5e5e5 !important;
	border-radius: 5px;
	margin-bottom: 20px !important;
	padding: 10px !important;
}
/*For Dashboard Page Only End*/

@media (max-width:1024px) {
div[role="main"] h2:first-of-type, .backup-restore .backup-section > h2.header, .backup-restore .backup-section .backup-sub-section h3 {
	font-size: 1.5em;
}
}
