.new-footer {
	display: inline-block;
	width: 100% !important;
	background-color: #000;
	color: #fff;
	/*max-width: 1280px;*/
	padding-bottom: 20px;
	text-align: left;
	padding-top:20px;
}
.new-footer .row {
	margin: 0;
}
.new-footer .sitemap-heading {
	display: block;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 18px;
	text-transform: uppercase;
}
.new-footer .row.padded nav ul li a.sitemap-heading:hover, .new-footer .row.padded nav ul li a.sitemap-heading:active, .new-footer .row.padded nav ul li a.sitemap-heading:focus, .new-footer .row.padded ul li a.sitemap-heading:hover, .new-footer .row.padded ul li a.sitemap-heading:active, .new-footer .row.padded ul li a.sitemap-heading:focus {
	color: #fff !important;
	text-decoration: none;
}
.new-footer .row.padded nav ul li, .new-footer .row.padded ul li {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 19.9%;
	margin-top: 15px;
	margin-bottom: 15px;
	vertical-align: top;
}
.new-footer .row.padded nav ul li a, .new-footer .row.padded nav ul li ul li, .new-footer .row.padded ul li a, .new-footer .row.padded ul li ul li  {
	color: #fff !important;
	max-width: 80% !important;
}
.new-footer .row.padded nav ul li a:hover, .new-footer .row.padded nav ul li ul li a:hover, .new-footer .row.padded ul li a:hover, .new-footer .row.padded ul li ul li a:hover {
	color: #007ac0 !important;
	text-decoration: none;
}
.new-footer .row.padded nav ul li ul li, .new-footer .row.padded ul li ul li {
	display: block;
	width: 100%;
}
.nav-social.three-tablet.offset-by-two-tablet{
	margin-left: 20%;
	width: 18%;
	float: left;
}
.nav-social.three-tablet.offset-by-two-tablet ul {
	width: 100%;
}
.nav-social.three-tablet.offset-by-two-tablet ul li {
	display: inline;
}
.nav-social.three-tablet.offset-by-two-tablet ul li a {
	color: #fff;
	font-size: 18px;
	margin-right: 0px;
}
.nav-social.three-tablet.offset-by-two-tablet ul li a:hover, .nav-social.three-tablet.offset-by-two-tablet ul li a:active, .nav-social.three-tablet.offset-by-two-tablet ul li a:focus {
	color: #007ac0 !important;
	text-decoration: none;
}
.two-tablet {
	width: 15%;
	float: left;
}
.two-tablet p {
	font-size: 8px !important;
	margin: 0 !important;
	padding: 0 !important;
}
.five-tablet {
	width: 45%;
	float: left;
}
.five-tablet div.nav-legal ul li {
	display: inline;
}
.five-tablet div.nav-legal ul li a {
	color: #fff;
	font-size: 8px;
	margin-right: 5px;
}
.five-tablet div.nav-legal ul li a:hover {
	color: #FFF !important;
	text-decoration: underline;
}
/*.five-tablet div.nav-legal ul li a::after {
	content: "|";
	margin-left: 5px;
}*/
.five-tablet div.nav-legal ul li:last-child a::after {
	display: none;
}
.row.bottom-foot {
	margin-top: 30px;
}

/*Media Query Starts here*/

@media (max-width:900px) {
.new-footer .row.padded nav ul li a, .new-footer .row.padded nav ul li ul li {
	max-width: inherit;
}
.nav-social.three-tablet.offset-by-two-tablet {
	float: none;
	margin-bottom: 20px;
	margin-left: 0;
	text-align: center;
	width: 100%;
}
.bottom-foot .two-tablet {
	float: none;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
.footnote.text-center p {
	width: 100% !important;
}
.bottom-foot .five-tablet {
	float: none;
	width: 100%;
	text-align: center;
}
.new-footer .sitemap-heading {
	font-size: 11px;
}
.new-footer .row.padded nav ul li ul li a, .new-footer .row.padded nav ul li a {
	font-size: 11px;
}
}

@media (max-width:767px) {
.new-footer {
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 100% !important;
}
.new-footer .row.padded nav ul li {
	width: 100%;
}
.row.bottom-foot {
	margin-top: 0;
}
.nav-social.three-tablet.offset-by-two-tablet {
	float: left;
	margin-bottom: 20px;
	margin-left: 0;
	width: 100%;
	text-align:left;
}
.bottom-foot .two-tablet {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	text-align:left;
}
.bottom-foot .five-tablet {
	float: left;
	width: 100%;
	text-align:left;
}
}

/*End Media Query*/
