<div class="row-fluid">
  <div class="banner"> <img class="ccm-image-block" alt="" src="http://qsctraining.com/files/6814/3414/1709/q-sys_level-one_banner.png" border="0"> </div>
  <div class="clearfix"></div>
  <div class="span3 margin-right"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/hidden-popups/video-based-learning/?iframe=true&amp;width=85%25&amp;height=85%25" title=""><img src="http://qsctraining.com/files/4814/3414/1563/step1-watch-videos.png" class="jbpopupimg" alt=""></a> </div>
  <div class="span3 margin-right"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/hidden-popups/online-assessments/?iframe=true&amp;width=85%25&amp;height=85%25" title=""><img src="http://qsctraining.com/files/9114/3414/1609/step2-pass-assessment.png" class="jbpopupimg" alt=""> </a> </div>
  <div class="span3"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/hidden-popups/submit-your-sample-design/?iframe=true&amp;width=85%25&amp;height=85%25" title=""><img src="http://qsctraining.com/files/9613/9482/9081/step3-exit-exam.png" class="jbpopupimg" alt=""> </a> </div>
  <div class="clearfix"></div>
  <div class="heading-container">
    <h2>Level One Modules</h2>
  </div>
  <div class="clearfix"></div>
  
  <div class="span4 margin-right">
    <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/introduction/"><img class="ccm-output-thumbnail" alt="1. Class Requirements" src="http://qsctraining.com/files/cache/3fbf06e3cde2fe2472580b2de090778b.jpg" height="115" width="260"></a>
      <h3><a href="http://lms.git.qsc.local/course/view.php?id=6" target="_blank">1. Class Requirements</a></h3>
      <p> Get a quick overview of the format for Level 1 Online class, and meet our dynamic duo of instructors. </p>
    </div>
  </div>
  
  <div class="span4 margin-right">
    <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/hardware/"><img class="ccm-output-thumbnail" alt="2. Hardware Overview" src="http://qsctraining.com/files/cache/903816e4ac99d148cc9a75a45b5ea99c.png" height="115" width="260"></a>
      <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/hardware/">2. Hardware Overview</a></h3>
      <p> Learn the basics of the Q-Sys Signal Path, as well as an introduction to all of its physical components. </p>
    </div>
  </div>
  <div class="span4">
    <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/software/"><img class="ccm-output-thumbnail" alt="3. Software Overview" src="http://qsctraining.com/files/cache/02f278cd7574889650ec5623f7a16f72.png" height="115" width="260"></a>
      <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/software/">3. Software Overview</a></h3>
      <p> Introduces Q-Sys Designer, including workspace areas, important terminology, understanding components and inventory. </p>
    </div>
  </div>
  <div class="span4  margin-right">
    <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/administrator/"><img class="ccm-output-thumbnail" alt="4. Administrator &amp; Configurator" src="http://qsctraining.com/files/cache/663e21a8a3abaf19c194cca366dee3b4.png" height="115" width="260"></a>
      <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/administrator/">4. Administrator &amp; Configurator</a></h3>
      <p> Manage network settings, rename devices, manage users, automate 
        controls, create scheduled events and load audio files. </p>
    </div>
  </div>
  <div class="span4 margin-right">
    <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/control/"><img class="ccm-output-thumbnail" alt="5. Control Overview" src="http://qsctraining.com/files/cache/2a9ff1189c5ee3e3167d11d16564b9cf.png" height="115" width="260"></a>
      <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/control/">5. Control Overview</a></h3>
      <p> Create snapshots, edit control styles and generate a user control interface (UCI). </p>
    </div>
  </div>
  <div class="span4">
    <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/audio-player-media-drive/"><img class="ccm-output-thumbnail" alt="6. Audio Player &amp; Media Drive" src="http://qsctraining.com/files/cache/257ba176868dfe54c1c128df975f375b.png" height="115" width="260"></a>
      <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/audio-player-media-drive/">6. Audio Player &amp; Media Drive</a></h3>
      <p> Offers an in-depth look at the Audio Player and Media Drive, two of 
        the most commonly used (and misunderstood) Q-Sys components. </p>
    </div>
  </div>
  <div class="span4 margin-right">
    <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/basic-test-and-measurements/"><img class="ccm-output-thumbnail" alt="7. Basic Test &amp; Measurement" src="http://qsctraining.com/files/cache/894bacc58bbc2d89ea9dd363c00a07b1.png" height="115" width="260"></a>
      <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/basic-test-and-measurements/">7. Basic Test &amp; Measurement</a></h3>
      <p> Troubleshoot your signal path using Noise Generators, RTA, Injectors and Probes. </p>
    </div>
  </div>
  <div class="span4  margin-right">
    <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/room-combining/"><img class="ccm-output-thumbnail" alt="8. Room Combining" src="http://qsctraining.com/files/cache/263802bb459bc0c56eb2854d31eb6baf.png" height="115" width="260"></a>
      <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/room-combining/">8. Room Combining</a></h3>
      <p> Control the audio signal for a multipurpose room that uses air walls. </p>
    </div>
  </div>
  <div class="span4"> 
  <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/gain-sharing-and-gated-mixers/"><img class="ccm-output-thumbnail" alt="9. Automatic Mixers" src="http://qsctraining.com/files/cache/696136cda45e1fc21d2ca2dee95995b5.png" height="115" width="260"></a>
        <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/gain-sharing-and-gated-mixers/">9. Automatic Mixers</a></h3>
        <p> Adjust output gain to a preferred level by gating and adjusting input attenuations. </p>
      </div> </div>
      
  <div class="span4 margin-right"> <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/ambient-noise-compensators/"><img class="ccm-output-thumbnail" alt="10. Ambient Noise Compensators" src="http://qsctraining.com/files/cache/fc7219c74071fd5b6782bb31e804177a.png" height="115" width="260"></a>
        <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/ambient-noise-compensators/">10. Ambient Noise Compensators</a></h3>
        <p> Ambient Noise Compensators detect change in crowd noise and apply gain or attenuation. </p>
      </div> </div>
  <div class="span4 margin-right"> <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/notch-feedback-controller3/"><img class="ccm-output-thumbnail" alt="11. Notch Feedback Controller" src="http://qsctraining.com/files/cache/028d6c59621dbefc54b7a1809b760f38.png" height="115" width="260"></a>
        <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/notch-feedback-controller3/">11. Notch Feedback Controller</a></h3>
        <p> "Ring out the room" and protect your live sound against unexpected feedback loops. </p>
      </div> </div>
  <div class="span4">
  <div class="content_block"> <a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/basic-system-design-walkthrough/"><img class="ccm-output-thumbnail" alt="12. Basic System Design Walkthrough" src="http://qsctraining.com/files/cache/535b5d6431fd0cacf6eb637fbf8f0f5f.png" height="115" width="260"></a>
        <h3><a href="http://qsctraining.com/education/courses/qsys/level-1/qsys-training/basic-system-design-walkthrough/">12. Basic System Design Walkthrough</a></h3>
        <p> Watch as our Q-Sys experts build a basic system in Q-Sys Designer from start to finish. </p>
      </div> </div>
  
  
  
  
  
  
  
 
</div>
