<div id="dock" role="menubar" class="dock_left_vertical">
    <div class="buttons_container">
        <div class="dockeditem_container">
            <div id="dock_item_0" class="dockeditem firstdockitem" tabindex="0" rel="0"><div id="dock_item_0_title" role="menu" aria-haspopup="true" class="dockedtitle">
                <div style="height: 103.5px; position: relative;" id="yui_3_17_2_2_1682074732608_337">
                    <h2 class="css3transform" style="position: relative; font-size: 11px; width: 82.8px; top: 34.4px; right: 27.4px; transform: rotate(270deg);">Administration</h2>
                </div>
            </div>
            </div>
            <div id="dock_item_1" class="dockeditem" tabindex="0" rel="1">
                <div id="dock_item_1_title" role="menu" aria-haspopup="true" class="dockedtitle">
                    <div style="height: 66px; position: relative;">
                        <h2 class="css3transform" style="position: relative; font-size: 11px; width: 52.8px; top: 19.4px; right: 12.4px; transform: rotate(270deg);">Calendar</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="controls">
            <img alt="Undock all" tabindex="0" src="https://devtraining.qsc.com/theme/image.php/meline29/core/1682048935/t/dock_to_block">
        </div>
    </div>
</div>