.report-assessmentreports {
    list-style: none;
    margin-top: 20px;
    text-align: justify;
}

.report-assessmentreports li {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
    text-align: center;
}

.report-assessmentreports li span {
    white-space: nowrap;
    display: block;
    text-align: center;
}

.report-assessmentreports:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.headimg{width:80%;
text-align: center;}
