.path-mod-book .navtop img.icon,
.path-mod-book .navbottom img.icon {
    margin-right: 4px;
    margin-left: 4px;
    border: 0;
    padding: 0;
}

.path-mod-book .navbottom,
.path-mod-book .navtop {
    text-align: right;
}
.dir-rtl.path-mod-book .navbottom,
.dir-rtl.path-mod-book .navtop {
    text-align: left;
}
.path-mod-book .navtop {
    margin-bottom: 0.5em;
}

.path-mod-book .navbottom {
    margin-top: 0.5em;
}

/* == Fake toc block == */
.path-mod-book .block_book_toc ul {
    margin: 0 0 0 5px;
    padding-left: 0;
    padding-right: 0;
}
.path-mod-book .book_toc .action-list img.smallicon {
    margin: 0 3px;
}
.dir-rtl.path-mod-book .block_book_toc ul { margin: 0 5px 0 0; }
.path-mod-book .block_book_toc li {
    clear: both;
    list-style: none;
    margin-top: .5em;
}
.path-mod-book .block_book_toc li li {
    list-style: none;
}
.path-mod-book .block_book_toc .action-list { float: right; }
.dir-rtl.path-mod-book .block_book_toc .action-list { float: left; }
.path-mod-book .block_book_toc .action-list img.smallicon {
    margin: 0 3px;
}

/* toc style INDENTED*/
.path-mod-book .book_toc ul {
    display: flex;
    flex-direction: column;
}

.dir-rtl.path-mod-book .book_toc_indented ul {
    margin-left: 0;
    margin-right: 5px;
}
.path-mod-book .book_toc_bullets li li:before {
    display: none;
}

.dir-rtl.path-mod-book .book_toc_indented ul ul {
    margin-left: 0;
    margin-right: 15px;
}
.path-mod-book .book_toc li {
    flex: 1 1 100%;
}
.path-mod-book .book_toc_indented > ul {
    margin-left: 0;
    padding-left: 0;
}

.path-mod-book .book_toc_indented li {
    list-style: none;
}

/* toc style BULLETED*/
.path-mod-book .book_toc_bullets > ul {
    margin-left: 0;
    padding-left: 1.3rem;
}
.path-mod-book .book_toc_bullets li li {
    list-style: circle;
}
/*.path-mod-book .book_toc_bullets li {
    list-style: disc;
}
*/
/* toc style NUMBERED*/
.path-mod-book .book_toc_numbered > ul {
    margin-left: 0;
    padding-left: 0;
}

.path-mod-book .book_toc_numbered li {
    list-style: none;
}

/* toc style NONE*/
.path-mod-book .book_toc_none ul {
    margin-left: 0;
    padding-left: 0;
}

.path-mod-book .book_toc_none li {
    list-style: none;
}

/* Text style links */
.navtop.navtext .chaptername,
.navbottom.navtext .chaptername {
    font-weight: bolder;
}

.navtop.navtext a,
.navbottom.navtext a {
    display: inline-block;
    max-width: 45%;
}

.navtop.navtext a.bookprev,
.navbottom.navtext a.bookprev {
    float: left;
    text-align: left;
}

@media (max-width: 480px) {
    .path-mod-book .navbottom,
    .path-mod-book .navtop,
    .dir-rtl.path-mod-book .navbottom,
    .dir-rtl.path-mod-book .navtop {
        text-align: center;
    }

    .navtop.navtext a,
    .navbottom.navtext a {
        display: block;
        max-width: 100%;
        margin: auto;
    }

    .navtop.navtext a.bookprev,
    .navbottom.navtext a.bookprev,
    .dir-rtl .navtop.navtext a.bookprev,
    .dir-rtl .navbottom.navtext a.bookprev  {
        float: none;
    }
}

/*New theme Book View Changes*/

.right-cover-area #content {
    min-height: 200px;
}
.right-cover-area .nav-tabs {
    border-bottom: 1px solid #dee2e6 !important;
    display: flex;
}
.right-cover-area ul#tabs li a {
    float: left;
    width: auto;
    padding: 15px 12px;
    line-height: 26px;
}
.right-cover-area #tabs {
    margin-bottom: 20px !important;
    margin-left: 0;
}

.left-cover-area .new-search form i {
    display: none;
}

.left-cover-area .new-search input[type="submit"] {
    font-size: 14px !important;
}

/*Resposive Changes*/
@media (max-width: 1200px) and (min-width: 768px){
.right-cover-area .nav-tabs li {
    width: 100%;
}
.right-cover-area ul#tabs li a {
    width: 100% !Important;
}
}
@media (max-width: 767px){
.right-cover-area .nav-tabs li {
    width: 100%;
}
.right-cover-area ul#tabs li a {
    width: 100% !Important;
}
}